/*整体做初始化操作，我不知为什么我那个normalize对部分效果没作用*/
* {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/*首页导航部分的背景图，暂时先用纯色替代，到时候换图片*/
.nav-picture {
    width: 100%;
    height: 155px;
    background-color: #86bbf9;
    display: block;
}

.bIcon {
    position: absolute;
    top: 35px;
    left: 90px;
}

/*头部导航的分类栏部分*/
/*我分了三部分做*/
.nav {
    position: absolute;
    top: 0;
    width: 100%;
    height: 64px;
    background-color: rgb(252, 248, 248, .5);
    display: flex;
    align-items: center;
    z-index: 10;
    color: rgb(168, 167, 167);
    border-bottom: 1px solid rgb(179, 176, 176);


}

/*第一部分*/
/*分类部分的文字内容*/
.nav-cato-left {
    position: relative;
    left: 30px;
    display: flex;
    align-items: center;
}

/*写一个活动样式*/
.nav-cato-left.active {
    position: relative;
    left: 110px;
}

.biIcon {
    display: none;
    position: absolute;
    left: -86px;
    top: -25px;


}

.nav-cato-left li {
    margin-left: 15px;

}

.nav-cato-left li .tv {
    display: inline-block;
    position: relative;
    left: -3px;
    top: 3px;
}

/*修改一下第一个的位置*/
.shouye {
    position: relative;
    top: -2px;

}

/*第二部分，中间的搜索栏*/
.enter-center-search {
    position: relative;
    left: 120px;
    width: 460px;
    height: 40px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: rgb(252, 248, 248, .5);
}

.enter-center-search.active {
    width: 390px;
    left: 150px;
}

/*整个搜索栏的内轮廓*/
.search-text {
    position: relative;
    width: 100%;
    height: 100%;
}

/*文本输入部分*/
.nav-search-input {
    position: absolute;
    top: 5px;
    left: 10px;
    width: 380px;
    height: 30px;
    border: none;
    outline: none;
    background: transparent;
    border-radius: 8px;
    font-size: 14px;
    color: #333;
    z-index: 2;
}

.nav-search-input.active {
    width: 335px;
}

/*猜你想搜*/
.search-predict {
    position: absolute;
    top: 5px;
    left: 15px;
    width: 200px;
    height: 30px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.3);
    color: #999;
    font-size: 14px;
    line-height: 30px;
    padding: 0 10px;
    pointer-events: none;
    z-index: 3;
}

.search-text-color {
    position: absolute;
    top: 12px;
    right: 15px;
    width: 25px;
    height: 25px;
    border-radius: 10px;
    z-index: 3;
}


/*悬停时变背景颜色*/
.search-icon:hover {
    background-color: #E3E5E7;
}

/*放个图标*/
.search-text svg {
    position: absolute;
    top: 12px;
    right: 15px;
    width: 20px;
    height: 20px;
    fill: #0e0000;
    z-index: 3;
}

.search-icon-color:hover {
    background-color: #E3E5E7;
}

.enter-center-search:hover {
    background-color: #fcfbfb;
}


/*提前写好动画*/
@keyframes jump {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }

}

/*有一个悬停鼠标弹出窗口的效果*/
.gamecard {
    position: absolute;
    top: 100px;
    left: 50px;
    border-radius: 10px;
    width: 424px;
    height: 295px;
    background-color: #fff;
    box-shadow: 5px 5px 30px rgb(187, 186, 186, 0.3);
    transform: translateY(-10px);
    opacity: 0;
    /* 隐藏时禁用交互 */
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s;
}

.gamecard.move {
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
    transform: translateY(-30px);
}

.mangacard {
    position: absolute;
    top: 100px;
    left: 130px;
    border-radius: 10px;
    width: 424px;
    height: 295px;
    background-color: #fff;
    transform: translateY(-10px);
    box-shadow: 5px 5px 30px rgb(187, 186, 186, 0.3);
    opacity: 0;
    /* 隐藏时禁用交互 */
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s;
}

.mangacard.move {
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
    transform: translateY(-30px);
}

.download {
    position: absolute;
    top: 100px;
    left: 230px;
    border-radius: 10px;
    width: 424px;
    height: 295px;
    background-color: #fff;
    box-shadow: 5px 5px 30px rgb(187, 186, 186, 0.3);
    transform: translateY(-10px);
    opacity: 0;
    /* 隐藏时禁用交互 */
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s;

}

.download.move {
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
    transform: translateY(-30px);
}

.user {
    position: absolute;
    top: 100px;
    right: 383px;
    border-radius: 10px;
    width: 290px;
    height: 500px;
    background-color: #fff;
    box-shadow: 5px 5px 30px rgb(187, 186, 186, 0.3);
    transform: translateY(-10px);
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
}



.user.move {
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
    transform: translateY(-30px);
}

.user-icon {
    transition: all 0.3s;
}

.user-icon.move {

    transform: scale(3) translate(-2px, 10px);
}

.vip {
    position: absolute;
    top: 100px;
    right: 210px;
    border-radius: 10px;
    width: 460px;
    height: 450px;
    background-color: #fff;
    box-shadow: 5px 5px 30px rgb(187, 186, 186, 0.3);
    transform: translateY(-10px);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s;
}

.vip.move {
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
    transform: translateY(-30px);
}

.mes {
    position: absolute;
    top: 100px;
    right: 310px;
    border-radius: 10px;
    width: 150px;
    height: 230px;
    background-color: #fff;
    box-shadow: 5px 5px 30px rgb(187, 186, 186, 0.3);
    transform: translateY(-10px);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s;
}

.mes.move {
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
    transform: translateY(-30px);
}

.newpos {
    position: absolute;
    top: 100px;
    right: 140px;
    border-radius: 10px;
    width: 400px;
    height: 510px;
    background-color: #fff;
    box-shadow: 5px 5px 30px rgb(187, 186, 186, 0.3);
    transform: translateY(-10px);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s;

}

.newpos.move {
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
    transform: translateY(-30px);
}

.colect {
    position: absolute;
    top: 100px;
    right: 75px;
    border-radius: 10px;
    width: 510px;
    height: 510px;
    background-color: #fff;
    box-shadow: 5px 5px 30px rgb(187, 186, 186, 0.3);
    transform: translateY(-10px);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s;
}

.colect.move {
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
    transform: translateY(-30px);
}


.history {
    position: absolute;
    top: 100px;
    right: 80px;
    border-radius: 10px;
    width: 380px;
    height: 515px;
    background-color: #fff;
    box-shadow: 5px 5px 30px rgb(187, 186, 186, 0.3);
    transform: translateY(-10px);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s;


}

.history.move {
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
    transform: translateY(-30px);
}

.putup {
    position: absolute;
    top: 100px;
    right: 30px;
    border-radius: 10px;
    width: 350px;
    height: 70px;
    background-color: #fff;
    box-shadow: 5px 5px 30px rgb(187, 186, 186, 0.3);
    transform: translateY(-10px);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s;
}

.putup.move {
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
    transform: translateY(-30px);
}

/*分类的li也悬停时jump一下*/
.nav-cato li:hover {
    animation: jump 0.3s ease-out forwards;
}

.nav-search-input:focus {
    background-color: #E3E5E7;
}

.search-predict {
    position: absolute;
    top: 6px;
    left: 8px;
    width: 440px;
    height: 20px;
    border-radius: 8px;
    background: transparent;
}

/*第三部分，最右边的分类部分*/
.right-enter {
    position: relative;
    left: 170px;
    width: 550px;
    height: 64px;
}

.user-icon {
    position: absolute;
    top: 20px;
    left: 30px;
    width: 30px;
    height: 30px;
    border-radius: 8px;
    z-index: 3;
}

.right-enter {
    display: flex;
}

.right-enter-cato {
    display: flex;
}

.right-enter ul {
    position: absolute;
    will-change: transform;
    top: 18px;
    left: 80px;
}

.right-enter li {
    width: 60px;
    height: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.right-enter li svg {
    width: 25px;
    height: 25px;
    fill: rgb(168, 167, 167);
    margin-bottom: 5px;
}

.right-enter li p {
    font-size: 12px;
    margin: 0;
    text-align: center;
}

@keyframes jump- {
    0% {
        transform: translateY(-10px)
    }

    100% {
        transform: translateY(0px)
    }

}

/*图标跳动*/
.right-enter li svg:hover {
    animation: jump- 0.5s ease-out forwards;
}

.submit {
    position: absolute;
    top: 13px;
    right: 5px;
    width: 100px;
    height: 40px;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: #f872b1;
    color: #fff;
}

.submit:hover {
    background-color: #f79ec9;
}

.submit svg {
    position: absolute;
    top: 10px;
    left: 17px;
    width: 20px;
    height: 20px;
    fill: #fff;
}

.submit p {
    position: absolute;
    top: 10px;
    left: 45px;
}

/*下滑出现的分区*/
.navv {
    position: fixed;
    top: 64px;
    height: 50px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 10px 10px rgba(167, 165, 165, 0.1);
    opacity: 0;
    /* 隐藏时禁用交互 */
    overflow: hidden;
    transition: height 0.3s;
    z-index: 10;
}

.left-only {
    position: absolute;
    top: 12px;
    left: 141px;
    display: flex;

    height: 50px;
    width: 184px;
}

.border {
    position: absolute;
    top: 20px;
    left: 280px;
    background-color: #939598;
    height: 15px;
    width: 1px;
    z-index: 10;
    transition: all 0.3s;
}

.left-only svg {
    z-index: 10;
}

.left-only a {
    text-align: center;
    text-decoration: none;
    color: #939598;
}

.righting {
    margin-left: 10px;
}

.left-only a:hover {
    color: #76c1ff;
}

/*继承父的颜色*/
.left-only svg {
    fill: currentColor;
}

.center-cato-top {
    position: absolute;
    left: 305px;
    top: 12px;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 14px 10px;
    width: 983px;
    height: 70px;
    pointer-events: auto;
    background-color: #fff;
    z-index: 10;
}

/*我实在不知道怎么做这个滑下来的效果，所以仿制了一个很拙劣的版本*/
.showBox {
    position: relative;
    top: -40px;
    height: 140px;
    width: 100%;
    background-color: #fff;
    z-index: 1;
    transition: transform 0.3s ease;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0 10px 10px hsla(240, 7%, 92%, 0.3);
}

.center-cato-bottom {
    position: absolute;
    left: 305px;
    bottom: 25px;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 14px 10px;
    width: 983px;
    height: 70px;
    z-index: 0;


}

.right-cato-top {
    display: grid;
    position: absolute;
    top: 12px;
    right: 135px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 14px 10px;
    z-index: 10;
    background-color: #fff;
}

.vary {
    width: 80px;
    height: 28px;
    background-color: #e9e5e5;
    border-radius: 6px;
    text-align: center;
    line-height: 28px;
    color: #61666D;
    text-decoration: none;
}

.vary:hover {
    background-color: #bebaba;
}

/*小箭头*/
.rotate {
    position: absolute;
    right: 100px;
    top: 15px;
    height: 20px;
    width: 20px;
    border-radius: 4px;
    background-color: #e9e5e5;
    z-index: 10;
}

.rotate svg {
    position: absolute;
    top: 3.5px;
    left: 2.5px;
    transition: transform 0.3s;
}

.rotate:hover {
    background-color: #bebaba;
}

/*很多很多的视频分类导航*/
.more-cato {
    position: fixed;
    top: 70px;
    left: 32px;
    display: flex;
    justify-content: space-around;
    width: 780px;
    height: 500px;
    background-color: #fff;
    border-radius: 8px;
    opacity: 0;
    pointer-events: none;
    z-index: 10;
    box-shadow: 0 0 10px hsl(0, 0%, 62%, 0.2);
}

.more-cato.out {
    opacity: 1;
    pointer-events: auto;
}

.catoUl {
    width: 140px;
}

.catoUl li {
    width: 130px;
    height: 38px;
    margin: 10px;
    border-radius: 4px;
}

.catoUl li:hover {
    background-color: #a2a2a2;
}

.catoUl li a {
    text-decoration: none;
    margin-left: 10px;
    color: #7a7a7a;
}

.catoUl li a svg {
    position: relative;
    top: 5px;
    margin-top: 5px;
    margin-right: 10px;
}

/*视频的分区部分*/
.under-cato {
    position: relative;
    left: 110px;
    width: 1446px;
    height: 120px;
}

.cato-list {
    position: absolute;
    top: 25px;

    left: 180px;
    display: grid;
    grid-template-columns: repeat(11, 82px);
    grid-template-rows: repeat(2, 30px);
    gap: 10px;
    justify-items: center;
    align-items: center;

}

.cato-list a {
    width: 80px;
    height: 30px;
    border-radius: 4px;
    background-color: #F6F7F8;
    text-decoration: none;
    color: #61666D;
    line-height: 30px;
    text-align: center;
}

.cato-list a:hover {
    background-color: #bbbbbc;
}

.active {
    letter-spacing: 2px;
}

/*分割线*/
.line {
    position: absolute;
    top: 20px;
    right: 235px;
    width: 0.5px;
    height: 80px;
    background-color: #61666D;
}

.wen {
    font-size: 12px;
    color: #1f1e1e;
}

.poster-img {
    position: absolute;
    left: 30px;
    top: 20px;
    width: 46px;
    height: 72px;
}

.poster-img img {
    position: absolute;
    top: 10px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
}

.poster-img p {
    position: absolute;
    top: 60px;
    left: 8px;
}

.cato-trend {
    position: absolute;
    left: 100px;
    top: 30px;
    width: 46px;
    height: 46px;
    background-color: #F07775;
    border-radius: 50%;
}

.cato-trend:hover {
    background-color: #f09795;
}

.cato-trend svg {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 25px;
    width: 25px;
}

.cato-trend p {
    position: absolute;
    top: 50px;
    left: 10px;
}

.cato-other {
    position: absolute;
    top: 25px;
    right: -10px;
    width: 240px;
    height: 120px;
    display: grid;
    grid-template-columns: 72px 72px 96px;
    grid-template-rows: repeat(2, 28px);
    gap: 10px;
    justify-items: end;
    align-items: center;
}

.cato-other a {
    text-decoration: none;
    color: #61666D;
}

.cato-other a:hover {
    color: #71aff2;
}

.cato-other a svg {
    width: 14px;
    height: 14px;
    fill: #61666D;
}

/*lunbotu*/
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/*视频的位置*/
.container1 {
    position: relative;
    left: 140px;
    width: 1446px;
    height: 440px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}

/*refresh */
.refresh {
    position: absolute;
    top: 275px;
    right: 60px;
    height: 100px;
    width: 40px;
    background-color: #854141;
}

/*轮播图位置*/
.video-card1 {
    grid-column: 1/3;
    grid-row: 1/3;
    background-color: #f291d0;
    position: relative;
    display: flex;
}

.swap-foot {
    position: absolute;
    bottom: 0;
    height: 70px;
    width: 100%;
    background-color: rgb(252, 248, 248, .5);
}

.container2 {
    position: relative;
    top: 80px;
    left: 140px;
    display: grid;
    width: 1446px;
    height: 1480px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 60px 20px;

}

.video-card {
    background-color: #f291d0;
}

/*小部件，要一个固定位置出现的效果*/
/*先写完再隐藏然后再加js*/
.fixed-item {
    position: fixed;
    bottom: 130px;
    right: 60px;
    width: 40px;

}

.refresh-btn {

    width: 0px;
    height: 40px;
    background-color: #fff;
    border: 0.5px solid #61666D;
    border-radius: 4px;
    background-color: #76c1ff;
    opacity: 0;

}

.latter {

    width: 40px;
    height: 40px;
    margin-bottom: 5px;
    background-color: #fff;
    border: 0.5px solid #61666D;
    border-radius: 4px;
}

.more {
    position: fixed;
    bottom: 85px;
    right: 59px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border: 0.5px solid #61666D;
    border-radius: 4px;
    opacity: 0;
    transition: all 0.3s;
}

.toTop {
    position: fixed;
    bottom: 32px;
    right: 59px;
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
    background-color: #fff;
    border: 0.5px solid #61666D;
    border-radius: 4px;
}