*{
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-picture {
    width: 100%;
    height: 155px;
    background-color: #86bbf9;
    display: block;
}
    
.nav{
            position: absolute;
            top: 0;
            width: 100%;
            height: 64px;
            background-color: rgb(252, 248, 248, .5);
            display: flex;
            align-items: center;
            z-index: 1;
            color: rgb(168, 167, 167);
            

        }

        .nav-cato {
            display: flex;
            align-items: center;
        }
        .nav-cato li{
            margin-left: 15px;
        }
      .nav-cato li:first-child {
            margin-left: 30px;
        }
    .enter-center-search {
        position: relative;
        left: 120px;
        width: 460px;
        height: 40px;
        border-radius: 10px;
        border: none;
        outline: none;
        background-color: rgb(252, 248, 248, .5);
    }
    .search-text{
        position: relative;
        width: 100%;
        height: 100%;
    }
    .nav-search-input {
        position: absolute;
        top: 5px;
        left: 10px;
        width: 380px;
        height: 30px;   
        border: none;
        outline: none;
        background: transparent;
        border-radius: 8px;
        font-size: 14px;
        color: #333;
        z-index: 2;
    }
    .search-predict {
        position: absolute;
        top: 5px;
        left: 15px;
        width: 200px;
        height: 30px;
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.3);
        color: #999;
        font-size: 14px;
        line-height: 30px;
        padding: 0 10px;
        pointer-events: none;
        z-index: 3;
    }
    .search-text-color {
        position: absolute;
        top: 12px;
        right: 15px;
        width: 25px;
        height: 25px;
        border-radius: 10px;
        z-index: 3;
    }
    .search-icon-color {
        position: absolute;
        top: 5px;
        right: 10px;
        width: 30px;
        height: 30px;
        border-radius: 8px;
        z-index: 3;
    }
    .search-icon:hover {
        background-color: #E3E5E7;
    }
    .search-text svg {
        position: absolute;
        top: 12px;
        right: 15px;
        width: 20px;
        height: 20px;
        fill: #0e0000;
        z-index: 3;
    }
    .search-icon-color:hover {
        background-color: #E3E5E7;
    }
.enter-center-search:hover{
    background-color: #fcfbfb;
}
@keyframes jump {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}
.nav-cato li:hover {
    animation: jump 0.3s ease-out forwards;
}
.nav-search-input:focus{
    background-color: #E3E5E7;
}
.search-predict{
    position: absolute;
    top: 6px;
    left: 8px;
    width: 440px;
    height: 20px;
    border-radius: 8px;
    background: transparent;
}
.right-enter {
    position: relative;
    left: 190px;
    width: 550px;
    height: 64px;
}
.user-icon {
    position: absolute;
    top: 20px;
    left: 30px;
    width: 30px;
    height: 30px;
    border-radius: 8px;
    z-index: 3;
}
.right-enter {
    display: flex;
}
.right-enter-cato {
    display: flex;
}
.right-enter ul {
    position: absolute;
    top: 18px;
    left: 80px;
}
.right-enter li {
    width: 60px;
    height: 45px;   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.right-enter li svg {
    width: 25px;
    height: 25px;
    fill: rgb(168, 167, 167);
    margin-bottom: 5px;
}
.right-enter li p {
    font-size: 12px;
    margin: 0;
    text-align: center;
}
@keyframes jump- {
    0%{
        transform: translateY(-10px)
    }
    100%{
        transform: translateY(0px)
    }
    
}
.right-enter li svg:hover {
    animation: jump- 0.5s ease-out forwards;
}
.submit {
    position: absolute;
    top: 13px;
    right: 5px;
    width: 100px;
    height: 40px;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: #f872b1;
   color: #fff;
}
.submit:hover {
    background-color: #f79ec9;
}
.submit svg {
    position: absolute;
    top: 10px;
    left: 17px;
    width: 20px;
    height: 20px;
    fill: #fff;
}
.submit p {
    position: absolute;
    top: 10px;
    left: 45px;
}
.under-cato {
    position: relative;
    left: 130px;
    width: 1446px;
    height: 120px;
}
.cato-list {
    position: absolute;
    top: 25px;
    
    left: 180px;
    display: grid;
    grid-template-columns: repeat(11,82px);
    grid-template-rows: repeat(2,30px);
    gap: 10px;
    justify-items: center;
    align-items: center;

}
.cato-list a {
    width: 80px;
    height: 30px;
    border-radius: 4px;
    background-color: #F6F7F8;
    text-decoration: none;
    color: #61666D;
    line-height: 30px;
    text-align: center;
}
.cato-list a:hover {
    background-color: #bbbbbc;
}
.active {
    letter-spacing: 2px;
}
.line {
    position: absolute;
    top: 20px;
    right: 235px;
    width: 0.5px;
    height: 80px;
    background-color: #61666D;
}
.wen {
    font-size: 12px;
    color: #1f1e1e;
}

.poster-img {
    position: absolute;
    left: 30px;
    top: 20px;
    width: 46px;
    height: 72px;
}
.poster-img img {
    position: absolute;
    top: 10px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
}
.poster-img p {
    position: absolute;
    top: 60px;
    left:8px;
}
.cato-trend {
    position: absolute;
    left: 100px;
    top: 30px;
    width: 46px;
    height: 46px;
    background-color: #F07775;
    border-radius: 50%;
}
.cato-trend:hover {
    background-color: #f09795;
}
.cato-trend svg {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 25px;
    width: 25px;
}
.cato-trend p {
    position: absolute;
    top: 50px;
    left:10px;
}
.cato-other {
    position: absolute;
    top: 25px;
    right: -10px;
    width:240px;
    height: 120px;
    display: grid;
    grid-template-columns: 72px 72px 96px;
    grid-template-rows: repeat(2,28px);
    gap: 10px;
    justify-items: end;
    align-items: center;
}
.cato-other a {
    text-decoration: none;
    color: #61666D;
}
.cato-other a:hover {
    color: #71aff2;
}
.cato-other a svg {
    width: 14px;
    height: 14px;
    fill: #61666D;
}
.container1 {
    position: relative;
    left: 140px;
    width: 1446px;
    height: 880px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(4,1fr);
    gap: 20px;
}
    .video-card1 {
        grid-column: 1/3;
        grid-row: 1/3;
        background-color: #f291d0;
    }
    .video-card {
        background-color: #f291d0;
    }

